<div class="section-full text-white bg-img-fix content-inner overlay-black-dark counter-staus-box" style="background-image:url(assets/images/background/bg4.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-lg-3 col-sm-6 col-6 m-b30 wow fadeInUp counter-style-5" data-wow-duration="2s" data-wow-delay="0.2s">
							<div class="icon-bx-wraper center">
								<div class="icon-content">
									<h2 class="dlab-tilte counter">+18</h2>
									<p>Años formando profesionales</p>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-lg-3 col-sm-6 col-6 m-b30 wow fadeInUp counter-style-5" data-wow-duration="2s" data-wow-delay="0.4s">
							<div class="icon-bx-wraper center">
								<div class="icon-content">
									<h2 class="dlab-tilte counter">8.800</h2>
									<p>Alumnos egresados</p>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-lg-3 col-sm-6 col-6 m-b30 wow fadeInUp counter-style-5" data-wow-duration="2s" data-wow-delay="0.6s">
							<div class="icon-bx-wraper center">
								<div class="icon-content">
									<h2 class="dlab-tilte counter">48</h2>
									<p>Docentes de excelencia</p>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-lg-3 col-sm-6 col-6 m-b30 wow fadeInUp counter-style-5" data-wow-duration="2s" data-wow-delay="0.6s">
							<div class="icon-bx-wraper center">
								<div class="icon-content">
									<h2 class="dlab-tilte counter">8</h2>
									<p>Años con excelencia académica</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>