<div class="section-full bg-white content-inner">
				<div class="container">
					<div class="row service-area-one">
						<div class="col-lg-4 m-b30 hidden-sm">
                            <div class="rdx-thu"><img src="assets/images/student1.png" alt=""></div>
                        </div>
                        <div class="col-lg-8">
                            <div class="section-head">
								<h2 class="title"> Bienvenido a Colegio Diego Portales</h2>
								<p>Acá encontrarás todo lo relevante tanto para alumnos como de interés público</p>
							</div>
                            <div class="row"> 
                                <div class="col-md-6 col-sm-6 m-b30">
									<div class="icon-bx-wraper left">
										<div class="icon-bx-xs bg-secondry radius"> <a href="#" class="icon-cell"><i class="fa fa-paint-brush"></i></a> </div>
										<div class="icon-content">
											<h5 class="rdx-tilte">Educación de calidad</h5>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam..</p>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 m-b30">
									<div class="icon-bx-wraper left">
										<div class="icon-bx-xs bg-secondry radius"> <a href="#" class="icon-cell"><i class="fa fa-calendar"></i></a> </div>
										<div class="icon-content">
											<h5 class="rdx-tilte">Eventos importantes</h5>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam..</p>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 m-b30">
									<div class="icon-bx-wraper left">
										<div class="icon-bx-xs bg-primary radius"> <a href="#" class="icon-cell"><i class="fa fa-book"></i></a> </div>
										<div class="icon-content">
											<h5 class="rdx-tilte">Guías y Tareas</h5>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam..</p>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 m-b30">
									<div class="icon-bx-wraper left">
										<div class="icon-bx-xs bg-primary radius"> <a href="#" class="icon-cell"><i class="fa fa-graduation-cap"></i></a> </div>
										<div class="icon-content">
											<h5 class="rdx-tilte">Reglamentos </h5>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam..</p>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 m-b30">
									<div class="icon-bx-wraper left">
										<div class="icon-bx-xs bg-secondry radius"> <a href="#" class="icon-cell"><i class="fa fa-user"></i></a> </div>
										<div class="icon-content">
											<h5 class="rdx-tilte">Comunicados</h5>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam..</p>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 m-b30">
									<div class="icon-bx-wraper left serb">
										<div class="icon-bx-xs bg-secondry radius"> <a href="#" class="icon-cell"><i class="fa fa-clock-o"></i></a> </div>
										<div class="icon-content">
											<h5 class="rdx-tilte">Contáctanos</h5>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam..</p>
										</div>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>