<div class="page-wraper">
  <!-- header -->
  <app-header-light10></app-header-light10>
  <!-- header END -->
  <!-- Content -->
  <div class="page-content bg-white">
    <!-- Main Slider -->
    <app-slider1></app-slider1>
    <!-- Main Slider -->

    <app-content12 [data]="skills"></app-content12>
    <!-- contact area -->
    <div class="content-block">
      <app-newsletter1></app-newsletter1>
      <app-content1></app-content1>
      <app-counter1></app-counter1>
      <app-testimonial1></app-testimonial1>
      <app-team1></app-team1>

    </div>
  </div>
  <!-- Content END-->
  <!-- Newsletter -->
  <!-- <app-newsletter2></app-newsletter2> -->
  <!-- Footer -->
  <app-footer13></app-footer13>
  <!-- Footer END-->
  <button class="scroltop icon-up" type="button"><i class="fa fa-arrow-up"></i></button>
</div>
